body {
    margin: 0; 
    font-family: arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    padding: 1em;
    background-color: #005580;
}

footer {
    background-color: #333;
    color: white;
    padding-top: 100px;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    padding: 1em;
    background-color: #005580;
}

.box {
    background: white;
    padding: 20px;
}
